@page
@model KafkaSignalRFrontend.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div class="container">

        <div class="row p-1">
            <div class="col-1">Message</div>
            <div class="col-5"><input type="text" class="w-100" id="messageInput" /></div>
        </div>
        <div class="row p-1">
            <div class="col-6 text-end">
                <input type="button" id="sendButton" value="Send Message" />
            </div>
        </div>
        <div class="row p-1">
            <div class="col-6">
                <hr />
            </div>
        </div>
        <div class="row p-1">
            <div class="col-6">
                <ul id="messagesList"></ul>
            </div>
        </div>
    </div>
    @* <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script> *@
    <script src="~/js/signalr.js"></script>

    
</div>
<script>
    var connection = new signalR.HubConnectionBuilder().withUrl("/KafkaHub").build();

    connection.on("StartConsume", function (message) {
        var li = document.createElement("li");
        li.textContent = `Consume message : ${message}`;
        document.getElementById("messagesList").appendChild(li);
    });

    connection.start().then(function () {
        document.getElementById("sendButton").disabled = false;       
    }).catch(function (err) {
        return console.error(err.toString());
    });


    document.getElementById("sendButton").addEventListener("click", function (event) {
        var message = document.getElementById("messageInput").value;
        connection.invoke("Producer", message).catch(function (err) {
            return console.error(err.toString());
        });
        event.preventDefault();
    });
</script>
